body {
    margin: 0;
    font-family: 'Advent Pro', sans-serif;
    background-color: #f7f7f7;
}

.site {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
}

.accordion {
    background-color: #fff;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin-top: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.accordion.active, .accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.toolbar {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 20px;
}

.toolbar-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.toolbar-text {
    font-size: 14px;
    text-align: center;
    margin-top: 5px;
}

.image-icon {
    width: 24px;
    height: 24px;
    margin-left: 5px;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 4px;
    top: 40px;
}

.dropdown-item {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.textbox-container {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
    width: 100%;
}

.textbox {
    margin-right: 20px;
    width: 50%;
}

#inputText {
    width: 100%;
    height: 200px;
    border: 2px solid #e0e0e0;
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
    resize: none;
    outline: none;
}

#createButton {
    background: rgba(62, 162, 239, 1);
    box-shadow: 0px 4px 6.7px rgba(0, 0, 0, 0.67);
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 24px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 20px 0;
    transition: background 0.3s;
    width: 100%;
}

#createButton:hover {
    background: rgb(73, 169, 243);
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 50%;
}

.image-icon4 {
    display: block;
    max-width: 100%;
    height: auto;
}

.image-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 2px dashed #e0e0e0;
    border-radius: 8px;
    margin-top: 20px;
}

.placeholder {
    font-size: 18px;
    color: #999;
    text-align: center;
    padding: 20px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center; /* Центрирование содержимого */
    width: 100%;
    border-width: 6px, 6px, 6px, 6px;
    border-style: solid;
    border-color: rgba(62, 162, 239, 1);
}

.header-content {
    display: flex;
    align-items: center;
    width: 100%;
}

.logo {
    height: 50px; /* Установите нужную высоту для логотипа */
    margin-right: 20px; /* Отступ между логотипом и заголовком */
    padding: 0.5%;
}

.header-title {
    font-size: 30px; /* Размер шрифта для заголовка */
    color: #333; /* Цвет текста заголовка */
}

h1{
    font-family: Advent Pro;
    font-size: 40px;
    font-weight: 600;
    text-align: left;
    margin: 0%;
}